.wrap {
  width: 60%;
  margin: auto;

  h2 {
    text-align: center;
  }

  .player {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2% 0;
  }

  p {
    margin-bottom: 3%;
  }

  .photo {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      text-align: center;
      margin-top: 1%;
      margin-bottom: 5%;
    }
  }
}
